<div class="container-fluid">
    <div class="row">
        <div class="col bg-light text-dark">
            <a class="navbar-brand">FRIDGESHARE</a>
        </div>
    </div>
   <h1>Scan Item Barcode</h1>
   <h2><i class="fa fa-plus"></i></h2>
   <input type="file" accept="image/*" capture="environment">
</div>
<div class="navbar">
        <a href="#home" class="active"><i class="fa fa-home"></i></a>
        <a href="#scan"><i class="fa fa-camera"></i></a>
        <a href="#user"><i class="fa fa-user"></i></a>
</div>