<div class="container-fluid">
    <div class="row">
        <div class="col bg-light text-dark">
                <!-- <a href="#" class="navbar-brand">
                        <img src="/logo.png" height="30" alt="CoolBrand">
                    </a> -->
                <a class="navbar-brand">FRIDGESHARE</a>
        </div>
    </div>
    <h1><br></h1>
   <h1><small>Scan Item Barcode</small></h1>
   <!--<h2><i class="fa fa-plus"></i></h2> -->
   <input type="file" accept="image/*" capture="environment">
<!----
    
---->
      <div class="navbar navbar-expand-md navbar-dark bg-light fixed-bottom">
            <a href="#home"><i class="fa fa-cut"><br><small>Coupons</small></i></a>
            <a href="#scan" class="active"><i class="fa fa-camera"><br><small>Scan</small></i></a>
            <a href="#user"><i class="fa fa-user"></i><br><small>Account</small></a>
    </div>
</div>


